*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*Navbar*/
nav {
  position: relative;
  width: 100%;
  z-index: 2;
  top: 0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  color: #9b9b9b;
}
.nav-center {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: #9b9b9b;
  font-size: 24px;
}
.nav-logo {
  height: 40px;
  padding: 5px;
}

.social-icons {
  display: none;
}
.links {
  display: none;
}
.search-form {
  display: none;
}

.search-icon {
  color: #9b9b9b;
  background: transparent;
  border-color: transparent;
  font-size: 24px;
  cursor: pointer;
}
.search-icon:hover {
  color: #ff0000;
}
.search-form-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0;
}
.search-form-responsive-none {
  display: none;
}
.links-responsive {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 10px;
}
.links-responsive-none {
  display: none;
}
.link {
  padding: 14px 20px;
  color: #9b9b9b;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
}
.link-hide {
  display: none;
}
.search-input {
  border: none;
  background-color: #eeeeee;
  border-radius: 2px;
  width: 70%;
  height: 25px;
  margin: 0 10px;
  outline: none;
}
.search-close {
  cursor: pointer;
  font-size: 24px;
}
.search-close:hover {
  color: #ff0000;
}

.caretDown-icon {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav-center {
    padding: 0;
  }
  .search-links {
    display: flex;
    align-items: center;
  }

  .nav-toggle {
    display: none;
  }
  .search-icon {
    padding: 14px 20px;
    font-size: 16px;
  }
  .search-input {
    height: auto;
  }
  .search-close {
    font-size: 16px;
  }
  .search-form-responsive {
    display: none;
  }
  .search-form {
    display: flex;
    align-items: center;
  }
  .search-input {
    width: 220px;
    margin-left: 8px;
    margin-right: 4px;
  }
  .links {
    display: flex;
    align-items: center;
  }

  .link-btn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  .link:hover {
    color: #ff0000;
  }
  .caretDown-icon {
    display: inline;
  }
  .links-responsive {
    display: none;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 10px;
    color: #9b9b9b;
    font-size: 28px;
  }
}
/*subLinks*/
.submenu {
  position: absolute;
  padding: 15px 20px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid black;
  border-top: 1px solid #000;
  right: 0;
  display: none;
}
.sublinks {
  display: flex;
  align-items: center;
}
.sublink {
  color: #bdbdbd;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
  margin-right: 50px;
}
.sublink:hover {
  color: #ff0000;
}

.submenu.show {
  display: block;
}

/* hero */

.hero-center {
  display: flex;
}
.hero-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-info {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}

.hero-logo {
  display: block;
  height: 100px;
  margin: 0 auto 50px;
}
.hero-post {
  text-align: center;
  background-color: #f9f4f3;
  padding: 40px 70px;
}
.hero-title {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.hero-image {
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}
.hero-desc {
  margin-bottom: 30px;
}
.read-more {
  color: #ff0000;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.read-more-hero {
  justify-content: center;
}
/*featuredposts component*/
.featured-posts {
  margin: 80px 0;
  padding: 0 50px;
}
.featured-posts-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 5px;
  margin-bottom: 45px;
}

.featured-posts-center {
  margin: 0 auto;
  overflow-x: hidden;
}
.card {
  height: 100%;
  max-width: 24rem;
  position: relative;
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.controls button {
  width: 60px;
  height: 40px;
  color: black;
  cursor: pointer;
}
.featured-post-img {
  height: 280px;
  width: 100%;
  object-fit: cover;
}
.featured-post-info {
  padding: 30px;
  background-color: #f9f4f3;
}

.featured-post-desc {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.featured-post-link {
  justify-content: start;
}
