*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*Navbar*/
nav {
  position: relative;
  width: 100%;
  z-index: 2;
  top: 0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  color: #9b9b9b;
}
.nav-center {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: #9b9b9b;
  font-size: 24px;
}
.nav-logo {
  height: 40px;
  padding: 5px;
}

.social-icons {
  display: none;
}
.links {
  display: none;
}
.search-form {
  display: none;
}

.search-icon {
  color: #9b9b9b;
  background: transparent;
  border-color: transparent;
  font-size: 24px;
  cursor: pointer;
}
.search-icon:hover {
  color: #ff0000;
}
.search-form-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0;
}
.search-form-responsive-none {
  display: none;
}
.links-responsive {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 10px;
}
.links-responsive-none {
  display: none;
}
.link {
  padding: 14px 20px;
  color: #9b9b9b;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
}
.link-hide {
  display: none;
}
.search-input {
  border: none;
  background-color: #eeeeee;
  border-radius: 2px;
  width: 70%;
  height: 25px;
  margin: 0 10px;
  outline: none;
}
.search-close {
  cursor: pointer;
  font-size: 24px;
}
.search-close:hover {
  color: #ff0000;
}

.caretDown-icon {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav-center {
    padding: 0;
  }
  .search-links {
    display: flex;
    align-items: center;
  }

  .nav-toggle {
    display: none;
  }
  .search-icon {
    padding: 14px 20px;
    font-size: 16px;
  }
  .search-input {
    height: auto;
  }
  .search-close {
    font-size: 16px;
  }
  .search-form-responsive {
    display: none;
  }
  .search-form {
    display: flex;
    align-items: center;
  }
  .search-input {
    width: 220px;
    margin-left: 8px;
    margin-right: 4px;
  }
  .links {
    display: flex;
    align-items: center;
  }

  .link-btn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  .link:hover {
    color: #ff0000;
  }
  .caretDown-icon {
    display: inline;
  }
  .links-responsive {
    display: none;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 10px;
    color: #9b9b9b;
    font-size: 28px;
  }
}
/*subLinks*/
.submenu {
  position: absolute;
  padding: 15px 20px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid black;
  border-top: 1px solid #000;
  right: 0;
  display: none;
}
.sublinks {
  display: flex;
  align-items: center;
}
.sublink {
  color: #bdbdbd;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
  margin-right: 50px;
}
.sublink:hover {
  color: #ff0000;
}

.submenu.show {
  display: block;
}
